.encounter-info-wrapper {
  width: 100%;
  margin-top: 1rem;
}

.encounter-info-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.encounter-info-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

// Patient Payment Info
.payment-info {
  &__full-width-divider {
    flex-basis: 100%;
    width: 100%;
    height: 0;
  }

  &__table-wrapper {
    width: 100%;
    margin-top: 10px;
  }

  &__table-actions {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    justify-content: flex-end;
    width: 100%;
  }
}
