.my-input-container {
  .label-placement .rs-badge-content {
    top: -5px;
  }

  .badge-hidden .rs-badge-content {
    display: none;
  }

  .icons-list .rs-picker-toggle {
    height: var(--component-height, 50px) !important;
  }

  .required-field {
    color: #e23670;
    font-size: 110%;
    margin: 3px;
  }
 

  .my-input.rs-picker-block {
    .rs-stack {
      height: 100%;
    }
  }

  .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
  .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: black;
  }
}
.rs-picker-popup {
  z-index: 2000 !important;
}

.custom-time-input .rs-input-group {
 border: none  !important;
 height: var(--custom-time-input)!important;
}

