.create-password-header-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #5a5a5b;
  width: 100%;
  display: block;
}

.create-password-hint {
  margin-top: 4px;
  font-size: 12px;
  color: #6b6b6b;
}

.create-password-success-message {
  margin-top: 15px;
  font-weight: 700;
}

