.top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    gap: 10px;
  
  }
  
  .form-search-container {
    display: flex;
    flex-direction: column;
   gap: 5px;
  }
  
  .input-search{
    width: 500px;
    direction: ltr;
  }
  
  .dropdown-menuresult {
    width: 350px;
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  .checkbox-container {
    margin-top: 10px;
  }
  

  
  .space-container {
    padding: 10px;
    margin: 10px;
    width: 290px;
  }
  
  .form-inline-container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    margin-left: 10px;
  }

  .buttons-sect {
   
    display: flex;
    gap: 10px;
   margin-left: auto;
   align-items: end;
   
}
.div-parent{
  display:flex !important;
  gap:17px !important;
}
  
  