.from-to-input-position{display: flex;
flex-direction: row;
gap: 1vw;
}

.Tables-gap-betwen-columns{display: flex;
flex-direction: column;
gap: 1vw;
}

.material-table-size-position{width: 65%;
}

.multipicker-select-input{padding-bottom: 1vw;}

.total-quantities-table-size{width: 32%;
position: relative;
left:2.5vw;
}

.tables-row-positioning{display: flex;
flex-direction: row;
}

.total-quantities-table-header{margin-bottom: 1vw;
font-size: 14px;
}

.requested-procedures-table-header{font-size: 14px;}

.operation-materials-table-header{
font-size: 14px;
}

.reconciliation-material-table-size-position{width: 100%;}


.filter-table-header-requested-opearation{display: flex;
flex-direction: row;
gap: 1.5vw;
margin-top: 1vw;}

.select-input-requested-operation-filter{}