.container-of-radio-recovery {
  display: flex !important;
  align-items: center !important;
}

.margin-bottom-24 {
  margin-bottom: 24px !important;
}

.container-of-add-new-button-2 {
  display: flex;
  justify-content: flex-end;
}

.slider-class-170 {
  width: 170px;
  margin: 10px 0;
  position: relative;
}
