.title-allergens {
  display: flex;
}
.container-of-two-fields-allergens {
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-of-field-allergens {
  width: 50%;
}
.container-of-filter-fields-allergens {
  margin-top: 10px;
}
.container-of-icons-allergens {
  display: flex;
  gap: 10px;
}
.icons-allergens {
  cursor: pointer;
}
.container-of-add-new-button-allergens {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
