.text-value{
    font-family:'Inter Medium';
    font-size: 14px;

}
.border-style-error{
    padding:4px;
    border:2px dashed #fa7f37;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.border-style-active{
    padding:4px;
    border:2px dashed #415BE7;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.border-style{
    padding:4px;
    border:none;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.step-style-inactive{
    width: 40;
    height: 40;
    border-radius:50%;
    
    color: #888;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    border:  '1px solid #ccc',
}
.step-style-active{
    width: 40;
    height: 40;
    border-radius:50%;
    
    color: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    border:none,
}