.flex-10 {
  display: flex;
  gap: 10px;
  justify-content: end !important;
}

.padding-header-20 {
  padding: 20px;
}

.flex-center-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}

.grid-20 {
  display: grid !important;
  grid-template-columns: 1fr 2fr !important;
  gap: 20px !important;
}
