.notification-style {
  display: inline-block;
  max-width: 90vw;
  padding: 10px 16px;
  font-size: 1em !important;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  word-break: break-word;
  white-space: pre-line;
  box-sizing: border-box;
}