.title{
    display: flex;
}
.carousel{
    height: auto !important;
     background-color: var(--rs-body) !important;
}
.containerOfPagination{
    padding: 20px;
     background-color: var(--extra-light-blue);
}
.containerOfSearch{
    margin-bottom: 10px;
}
.containerOfHeaderActions{
    display: flex;
     gap: 20px;
     margin-bottom: 10px;
}
.containerOfPagination{
    padding: 20px;
     background-color: var(--extra-light-blue);
}