.title-metadata{
    display: flex;
}
.title-metadata-fields {
    font-size: 16px;
    @media (max-width: 450px) {
      font-size: 12px;
    }
  }
.carousel-metadata{
    height: auto !important;
     background-color: var(--rs-body) !important;
}
.container-of-pagination-metadata{
    padding: 20px;
     background-color: var(--extra-light-blue);
     @media (max-width: 500px) {
        padding: 5px;
      }
}
.container-of-search-metadata{
    margin-bottom: 10px;
}
.container-of-header-actions-metadata{
    display: flex;
     gap: 20px;
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 5px;
    }
}
