.checkboxes-container-transfer-patient-list{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    margin-top: 30px;
    max-width: 150px !important;
}

.checkboxes-container{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    margin-top: 30px;
}