.div-avatar .rs-avatar {
  width: 51px !important;
  height: 51px !important;
  font-size: 36px;
}

.div-avatar .rs-avatar > .rs-avatar-image {
  width: 51px;
  height: 51px;
  line-height: 40px;
}

.patient-panel {
  width: 272px;
  padding: 7px;
  display: flex;
  flex-direction: column;
}
.div-avatar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
}
.patient-info {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.info-section {
  display: flex;
  gap: 10px;
  width: 230px;
}

.info-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 35px;
}
.info-labell {
  font-family: 'Manrope Medium' !important;
  font-size: 12px;
  color: var(--icon-gray) !important;
}
.info-value {
  font-family: 'Manrope Medium';
  font-size: 14px;
  color: var(--black);
}
.divider-style {
  margin: 4px 4px;
}
.details-sections {
  display: 'flex';
  flex-direction: 'column';
  gap: '10px';
}
.icon-color {
  color: var(--icon-gray) !important;
}
.section-title-patient-side {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding-bottom: 4px;
}
.patient-name {
  font-size: '16px';
  font-family: 'Manrope Medium';
}

.main-info-patient-side {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', STXihei, sans-serif;
  line-height: 1.42857143;
  color: var(--rs-text-primary) !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

.my-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-right-size {
  margin-right: 8px;
  font-size: 16px;
}
