.div-avatar .rs-avatar  {
    width: 51px !important;
    height: 51px !important;
    font-size: 36px;
}

.div-avatar .rs-avatar > .rs-avatar-image {
    width: 51px;
    height: 51px;
    line-height: 40px;
}

