.title-service{
  display: flex;
}
.container-of-icons-service {
  display: flex;
  gap: 10px;
}
.icons-service{
  cursor: pointer;
}
.container-of-filter-fields-service {
  margin-top: 10px;
}
.container-of-add-new-button-service {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-two-fields-service {
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-of-field-service{
    width: 50%;
}
