.title{
     display: flex;
}
.containerOfIcons{
    display: flex;
     gap: 20px
}
.carousel{
    height: auto !important;
     background-color: var(--rs-body) !important;
}

.containerOfHeaderActions{
    display: flex;
     justify-content: space-between;
      margin-bottom: 10px;
      margin-right: 40px;
}
.columnName{
    font-weight: bold;
}
.containerOfPagination{
    padding: 20px;
     background-color: var(--extra-light-blue);
}
.modalBody{
    margin-bottom: 200px;
    Form{
        padding: 1px;
    }
    .headerOfModal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-bottom: 40px;

        FontAwesomeIcon{   //=========
            margin-bottom: 10px !important;
        }
        label{
            font-weight: bold;
             font-size: 14px;
        }
    }
    .containerOfTwoFields{
        display: flex;
         gap: 20px;
    }
}

.modalFooter{
    .stack{
        display: flex; 
        justify-content: flex-end;
    }
}

.containerOfBackAndSearch{
    display: flex;
    gap: 20px;
}