.title {
  display: flex;
}
.title-screen {
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}
.container-of-icons {
  display: flex;
  gap: 20px;
}
.carousel {
  height: auto !important;
  background-color: var(--rs-body) !important;
}
.container-of-header-actions-module {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  @media (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.container-of-header-actions-screen {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.column-name {
  font-weight: bold;
}
.container-of-pagination-module {
  padding: 20px;
  background-color: var(--extra-light-blue);
  @media (max-width: 500px) {
    padding: 5px;
  }
}
.container-of-two-fields-module {
  display: flex;
  gap: 20px;
}
.container-of-back-and-search-screen {
  display: flex;
  gap: 20px;
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 5px;
    margin-bottom: -14px;
  }
}
