.title-div {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0px 5px;
  position: sticky;
  background-color: white;
}
.basuc-div {
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
  border-radius: 8px;
}
.container-form {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}
.container-Column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-row {
  display: flex;
  gap: 10px;
}
.bt-row {
  width: 100%;
  margin-left: 15px;
  display: flex;
  gap: 15px;
}
.rows-gap {
  margin-bottom: 15px !important;
}
.my-icon {
  margin-left: 0 !important;
  color: var(--primary-gray);
  font-size: 20px;
}
.row-contains-many-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  .divide-style {
    padding: 20px;
    padding-top: 50px;
  }
}
.my-icon.svg-inline--fa.fa-heart-pulse {
  width: 30px;
}
.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}
@media (max-width: 600px) {
  .basuc-div {
    flex-direction: column;
  }
}
