.title-style{
    font-family:'Inter Semi Bold';
    font-size: 16px;
    line-height: 20;
    color: #1C2836;
    margin-bottom:15px !important;
}
.label-style{
    font-family:'Inter Semi Bold' !important;
    font-size: 12px !important;
    color: #A1A9B8 !important;
   
}
.value-style{
    font-family:'Inter Medium' !important;
    font-size: 14px !important;
    color: #0C0C0C !important; 
}
.card-style{
    box-shadow: 0 2px 8px rgba(130, 128, 128, 0.1);
    border-radius: 8px;
    padding: 15px;
    background-color: white,
}
.div-layout{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    gap:10px;
}
.field-contant{
    text-align: center;
    min-height:30px;

}
.div-list{
    display:flex;
     flex-direction: column;
     gap:10px !important
}