.title {
  display: flex;
}

.title-matrix {
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}
.container-of-icons-access-roles {
  display: flex;
  gap: 20px;
}
.carousel-access-roles {
  height: auto !important;
  background-color: var(--rs-body) !important;
}
.container-of-header-actions-access-roles {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;

  @media (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.container-of-header-actions-matrix {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;

  .container-of-back-and-search-matrix {
    display: flex;
    gap: 20px;
    @media (max-width: 700px) {
      flex-direction: column;
      gap: 5px;
      margin-bottom: -14px;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.container-of-two-fields-access-role {
  display: flex;
  gap: 20px;
  width: 100%;
}

.container-of-field-access-role {
  width: 50%;
}


.form {
  width: 250px;
}

.icons-access-role{
  cursor: pointer;
}
