.title{
    display: flex;
}
.container-of-icons{
    display: flex;
     gap: 20px
}
.carousel{
    height: auto !important;
     background-color: var(--rs-body) !important;
}
.container-of-header-actions{
    display: flex;
     justify-content: space-between;
      margin-bottom: 10px;
      margin-right: 40px;

      .container-of-back-and-search{
        display: flex;
        gap: 20px;
      }
}
.container-of-pagination{
    padding: 20px;
     background-color: var(--extra-light-blue);
}

.modal-body{
    margin-bottom: 30px;
    Form{
        padding: 1px;
    }
    .header-of-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-bottom: 40px;

        label{
            font-weight: bold;
             font-size: 14px;
        }
    }
    .container-of-two-fields{
        display: flex;
         gap: 20px;
    }
      
   .container-of-passwordExpires{
     display: flex;
     gap: 120px
   }
}

.modal-footer{
    .stack{
        display: flex; 
        justify-content: flex-end;
    }
}
