.bt-right-group {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.advanced-filters {
  display: flex;
  flex-direction: column; 
  gap: 12px; 
  margin-top: 12px; 
}

.dissss {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}
