
.container-of-two-fields-users{
    display: flex;
    gap: 20px;
}

.users-table-main-filter-container{display: flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;
box-sizing: border-box;}

.encounters-access-check-boxes-handle-positions{display: flex;
flex-direction: row;
gap: 1vw;}