.multi-select-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.margin-bottom-00 {
  .my-input-container.light.rs-form-group {
    margin-bottom: 4px !important;
  }
}

.multi-select-tags .rs-tag {
  background: #f1f3f5;
  border: 1px solid #e3e6ea;
  color: #dededf;
  border-radius: 14px;
  padding: 3px 10px;
  font-size: 12.5px;
}
.multi-select-tags-container {
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #fafafa;
}

.dark{
   .rs-tag {
  background: var(--dark-black) !important;
  border: 1px solid var(--rs-border-primary) !important;
}
.multi-select-tags-container {
  border: 1px solid var(--rs-border-primary);
  background: var(--dark-black);;
}

}