.title{
    display: flex;
}
.container-of-icons{
    display: flex;
     gap: 20px
}
.metadata-selection-title{
    display: block; 
    margin-bottom: 10px
}
.container-of-selects{
    display: flex;
}
.form-of-header-actions{
padding: 10px;

.container-of-header-actions{
    display: flex; 
    justify-content: space-between;
    margin-right: 30px;
    .container-of-search{
        display: flex;
         gap: 10px
    }
}
}
.modal-body{
    margin-bottom: 30px;
    Form{
        padding: 1px;
    }
    .header-of-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-bottom: 40px;

        label{
            font-weight: bold;
             font-size: 14px;
        }
    }
    .container-of-two-fields{
        display: flex;
         gap: 20px;
    }

    .container-of-rule-values{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
}

.modal-footer{
    .stack{
        display: flex; 
        justify-content: flex-end;
    }
}
