.title{
    display: flex;
}
.container-of-icons{
    display: flex;
     gap: 20px
}
.metadata-selection-title{
    display: block; 
    margin-bottom: 10px
}
.container-of-selects{
    display: flex;
}
.form-of-header-actions{
padding: 10px;

.container-of-header-actions{
    display: flex; 
    justify-content: space-between;
    margin-right: 30px;
    .container-of-search{
        display: flex;
         gap: 10px
    }
}
}

