.title-dvm {
  display: flex;
}
.container-of-icons-dvm {
  display: flex;
  gap: 20px;
}
.metadata-selection-title {
  display: block;
  margin-bottom: 10px;
}
.container-of-selects-dvm {
  display: flex;
  gap: 10px;
  @media (max-width: 750px) {
    flex-direction: column;
    gap: 5px;
  }
}

.tabs .rs-nav-item {
  font-size: 16px;
  padding: 10px 20px;
}
@media (max-width: 600px) {
  .tabs .rs-nav-item {
    font-size: 12px;
    padding: 6px 12px;
  }
}
.container-of-two-fields-dvm {
  display: flex;
  gap: 20px;
  width: 100%;
}

.container-of-field-dvm {
  width: 50%;
}

.container-of-add-new-button-dvm {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.icons-dvm{
  cursor: pointer;
}

