.checkboxes-container{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    margin-top: 30px;
}
    .bt-right-group {
      margin-left: auto;
      display: flex;
      height: 100%;
      padding-bottom: 8px;
    }

      .btns-group {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
      }