.fields-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.bp-input-group {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  .slash {
    margin-top: 20px;
    font-size: 20px;
  }
}

.bp-input-group-2 {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  height: 56px;
  .slash {
    font-size: 20px;
  }
}

.margin-buttom-8 {
  margin-bottom: 8px;
}

.margin-det-10 {
  margin: 10px;
}