surveyjs-scope {
  font-size: 16px;
}

.surveyjs-scope,
.surveyjs-scope * {
  zoom: normal !important;

  letter-spacing: normal;
  line-height: normal;
}

.surveyjs-scope * {
  box-sizing: border-box;
}

.form-template-row {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-wrap: wrap;        
}

.form-template-row > :not(button) {
  flex: 1 1 240px;      
}