.disabled-panel {
    pointer-events: none;
    opacity: 0.6;
  }
 .fill-width{
  width: 100%;
 }
 .margin-label{
  margin-top: 14px;
 }
 .expand-table-padding{
  padding: 5px !important;
 }
 .column-div{
  display:flex;
   flex-direction:column;
 }
  .div-parent{
    display:flex !important;
    gap:17px !important;
  }
  .flex1{
    flex:1 !important;
  }
  .font-style{
    font-family: 'Inter Medium';
    font-size: 14px;
    margin-top: 8px;
  }
  .date-width{
    width: 200px;
  }
  .padding-expand-table{
    padding: 5;
  }
  .bt-div{
    display: flex;
     gap: 5px;
  }
  .bt-right{
    margin-left:auto;
  }
  .rows-gap{
    margin-bottom: 15px !important;
  }

  @media (max-width: 500px) {

    .bt-div{
      flex-direction: column;
    }
    .div-parent{
      flex-direction: column;
    }
  }
