.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.table-header-content {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.add-new-supplier-button {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  margin-top: 0.2vw;
  margin-bottom: 0.5vw;
}

.main-supplier-setup-page-gaps {
  display: flex;
  flex-direction: column;
  gap: 50vw;
}

.custom-text {
  color: #a4a6b3;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
}
