.title-users{
    display: flex;
  }
.container-of-two-fields-users{

    display: flex;
    gap: 20px;
 
}
.container-of-icons-users{
    display: flex;
    gap: 10px;
}
.icons-users{
    cursor: pointer;
}
.container-of-add-button-user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}