.container-of-tables-int{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}
.container-internal-drug-order{
    display: flex ;
    flex-direction: row ;
    gap: 10px;
}
.patient-side-internal-drug-order{
   border-radius: 5px;
  border: 1px solid var(--background-gray);
  height: fit-content;
}