.filter-collect-samble-modal-table-columns{display: flex;
flex-direction: column;
gap: 0.2vw;}

.filter-collect-samble-modal-table-header{
    margin-top: 0.5vw;
}

.left-boxs-collect-samble-modal{
gap: 1vw;}