.fieldSetStyle {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legendStyle {
  padding: 0 5px;
  font-weight: bold;
  background-color: #f9f9f9;
}

.divContainFiledSearch {
  display: flex;
  align-items: center;
  gap: 20px
}

.divStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-row {
  background-color: #f4f7fe !important;
  padding: 0 !important;
  font-size: 10.5px;
  height: 39px !important;
}

.custom-header {
  background-color: #BCC2CE;
  color: #333;
}

.box-style {
  border: 1px solid #BCC2CE;
  box-shadow: 0 4px 8px #BCC2CE;
}

.ant-steps-item-tail::after {

  left: calc(50% + 16px) !important;

  width: calc(100% - 32px) !important;
}

.patient-facility-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}

.custom-text {
  color: #a4a6b3;
  font-size: 12px;
  font-weight: 600;
}

.container-div {
  padding: 5px;

  .field-btn-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 5px;

    .bt-right-group {
      margin-left: auto;
      display: flex;
      height: 100%;
      padding-bottom: 8px;

      .btns-group {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
      }
    }
  }



}