.fieldSetStyle{
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.legendStyle{
    padding: 0 5px;
    font-weight: bold;
    background-color: #f9f9f9;
}
.divContainFiledSearch{
    display: flex;
   align-items: center;
    gap: 20px
}
.divStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-row {
    background-color: #f4f7fe !important;
    padding: 0 !important;
    font-size: 10.5px;
    height:39px !important;
  }
  .custom-header{
    background-color: #BCC2CE;
    color: #333;
  }
  .box-style {
    border: 1px solid #BCC2CE; 
    border-radius: 20px !important;
    box-shadow: 0 4px 8px #BCC2CE; 
}
.ant-steps-item-tail::after {
    
    left: calc(50% + 16px) !important;
    
    width: calc(100% - 32px) !important;
  }
  .left-modal {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    height: 100vh !important;
    margin-right:35px !important ;
    max-width: none !important;
    transform: none !important;
  }
  
  