.search {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.my-table-filters.MuiBox-root.css-0 {
  padding: 0;
  padding-left: 17px;
  padding-right: 17px;
}
.search > .my-input-container.rs-form-group {
  height: 20px !important;
}
.table-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#confirm {
  color: #47b05f;
  cursor: pointer;
}
#edit {
  color: #6c757d;
  cursor: pointer;
}
#delete {
  color: #dc3545;
  cursor: pointer;
}
