.flex-column{
    display: flex;
    flex-direction: column !important;
}
.flex-row{
    display: flex !important;
}
.flex1{
    flex:1 !important;
}
.gap10{
    gap:10px !important;
}
.bt-save-div{
     display:flex;
     justify-content:center;
      align-items:center
}
.buttom-dev{
     display:flex;
     justify-content:space-between;
     width:100%
}
.dropdown-menuresult {
    width: auto;
    min-width: fit-content;
    white-space: nowrap; 
}
.mid-div{
    display:flex !important;
    gap:10px !important;
}
.type-div{
    display:flex !important; 
    flex-direction:column !important;
    flex:1 !important;
}