.patient-summary-container {
  background-color: #F8FAFE;
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
  gap: 10px;
  border-radius: 8px;
}

.patient-summary-Column {
  flex: 1;
  display: flex;
  flex-direction: column;
 
  gap: 13px;
}

.patient-summary-panel {
 
  height: 255px;
  width: 358px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-header {

  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 355px;
  height: 20px;
  margin-bottom: 10px;

}

.full-view {
  color: #2264E5 !important;
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;

}

.title {
  color: #2D3B4C !important;
  margin: 0 auto;
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}




.image-style {
  width: 100%;
  height: 523px;
  object-fit:contain;
  border-radius: 8px;

}
@media (max-width: 1200px) {
  .image-style ,.title,.panel-header,.patient-summary-panel,.patient-summary-Column{
zoom:0.90
  }
}
@media (max-width: 1000px) {
  .image-style ,.title,.panel-header,.patient-summary-panel,.patient-summary-Column{
zoom:0.85
  }
}
@media (max-width: 400px) {
  .image-style ,.title,.panel-header,.patient-summary-panel,.patient-summary-Column{
zoom:0.80
  }
}