.patient-summary-container {
  background-color: #F8FAFE;
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
  border-radius: 8px;
  gap:0 !important;
}

.patient-summary-Column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap:11px;
}

.patient-summary-panel {
 
  height: 255px;
  width: 358px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-header {

  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 355px;
  height: 20px;
  margin-bottom: 10px;

}

.full-view {
  color: #2264E5 !important;
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;

}

.title {
  color: #2D3B4C !important;
  margin: 0 auto;
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}




.image-style {
  width: 100%;
  height: 200px;
  object-fit:contain;
  border-radius: 8px;

}
@media (max-width: 1200px) {
  .image-style{
    height: 200px;
  }
   .title{
    line-height: 18;
   }
   .panel-header{
    width: 348px;
    height: 18px;
   }
   .patient-summary-panel{
    height: 250px;
    width: 350px;
   }
   
}


.medical-dashboard-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8FAFE;
  gap: 11px;
  .medical-dashboard-container-div {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: white;
    border: .1px solid white;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1), 0px 1px 4px rgba(69, 75, 87, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);

    .medical-dashboard-header-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 10;
      padding: 13px 15px 16px 15px;

      .medical-dashboard-title-div {
        display: flex;
        font-size: 14px;
        font-family: "Inter Medium" !important;
      }

    }

    .tab-container {
      background-color: #F8FAFE;
    }

    .divider-line {
      background: #D9D9D9 !important;
      border: 1px solid #EFEFEF !important;
    }
    .clickable-link {
      color: var(--deep-blue) !important;
      text-decoration: underline !important;
      cursor: pointer;
      font-size: 12px !important;
      font-weight: 500;
    }
    
    .medical-dashboard-content-div {
      padding: 15px 20px;
    }
  }

}