.inpatient-list-btns {
    margin-bottom: 10px;
}

.location-table-style {
    font-family: 'Inter Regular';
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-gray)
}
.switch-dep-dev {
  display: flex;
 align-items: flex-end;
 gap: 10px;
}

.companion-wrist-icons-position-handles{display: flex;
flex-direction: row;
gap: 1vw;
justify-content: end;
}