.top-div {
  display: flex;
  gap: 10px;
  width: '100%';
}

.bt-div {
  display: flex;
  gap: 5px;
}
.bt-right {
  margin-left: auto;
}
.div-parent {
  display: flex !important;
  gap: 17px !important;
}
.basuc-div {
  display: flex;
  flex-direction: column;
}
.fil-width {
  width: 100%;
}

.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}
.footer-buttons {
  display: flex;
  gap: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.rows-gap {
  margin-bottom: 15px !important;
}
.font-style {
  font-size: 12px !important;
  font-family: 'Inter Semi Bold' !important;
  color: #a1a9b8 !important;
}
.container-form {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  .title-div {
    display: flex;
    justify-content: space-between;
    height:auto;
    margin: 0px 5px 0px 5px;
    position: sticky;
    // top: 0;
    background-color: white; 
    // z-index: 10; 
  }
  .d{
     padding: 5px;
    .rs-row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }





.section-flex-procedures {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

.section-column-procedures {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: stretch;
}

/* Dropdown menu style (custom) */
.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.custom-dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.custom-dropdown-item:hover {
  background-color: #f5f5f5;
}

.procedure-preview-section{display: flex;
flex-direction: row;
gap: 1vw;}

.main-details-procedure-page-container{display: flex;
flex-direction: column;
gap: 1vw;}

.preview-procedure{margin-top: 1vw;}