.top-div {
  display: flex;
  gap: 10px;
  width: '100%';
}

.bt-div {
  display: flex;
  gap: 5px;
}
.bt-right {
  margin-left: auto;
}
.div-parent {
  display: flex !important;
  gap: 17px !important;
}
.basuc-div {
  display: flex;
  flex-direction: column;
}
.fil-width {
  width: 100%;
}

.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}
.footer-buttons {
  display: flex;
  gap: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.rows-gap {
  margin-bottom: 15px !important;
}
.font-style {
  font-size: 12px !important;
  font-family: 'Inter Semi Bold' !important;
  color: #a1a9b8 !important;
}
.container-form {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  .title-div {
    display: flex;
    justify-content: space-between;
    height:auto;
    margin: 10px 5px 0px 5px;
    position: sticky;
    // top: 0;
    background-color: white; 
    // z-index: 10; 
  }
  .d{
    .rs-row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }