.top-div {
  display: flex;
  gap: 10px;
  width: '100%';
}

.bt-div {
  display: flex;
  gap: 5px;
}
.bt-right {
  margin-left: auto;
}
.div-parent {
  display: flex !important;
  gap: 17px !important;
}
.basuc-div {
  display: flex;
  flex-direction: column;
}
.fil-width {
  width: 100%;
}

.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}
.footer-buttons {
  display: flex;
  gap: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.rows-gap {
  margin-bottom: 15px !important;
}
.font-style {
  font-size: 12px !important;
  font-family: 'Inter Semi Bold' !important;
  color: #a1a9b8 !important;
}
