.div-parent{
    display:flex !important;
    gap:17px !important;
  }
  .flex1{
    flex:1 !important;
  }
  .font-style{
    font-family: 'Inter Medium';
    font-size: 14px;
    margin-top: 14px;
  }
  .date-width{
    width: 200px;
  }
  .padding-expand-table{
    padding: 5;
  }
  .bt-div{
    display: flex;
     gap: 5px;
  }
  .bt-right{
    margin-left:auto;
  }