.bt-div{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 14px;
font-family: 'Manrope Medium';
width: 1113px;
height: 40px;
}

.enc-body{
height: 981px;
flex: none;
order: 0;
flex-grow: 0;}

.bt-back{
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 8px;
font-family: 'Manrope Medium';
margin: 0 auto;
width: 82px;
height: 40px;
color: aliceblue;
background-color: var(--primary-gray) !important;
border-radius: 6px;}





.other-bts-div{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 14px;

margin: 0 auto;
width: 740px;
height: 40px;}
 
/* button */

.bts{
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 8px;

width: 162px;
height: 40px;

background-color: #2264E6;
border-radius: 6px;

}


