.container-bt {
  display: flex;
  width: 100%;

}

.left {
  background-color: #ffffff;

}

.right {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  border-radius: 5px;
  height: auto;
  flex-wrap: wrap;
 margin-left: auto;
}

.drawer-style{
  width:240px !important; 
  background-color: #fff;
   box-shadow:2px 0 8px rgba(164, 199, 223, 0.1);
  opacity:0.9
}
.title-drawer{
  font-family:'Inter Semi Bold';
  font-size:18px;
  color: #1C2836;
}
.drawer-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 3px;
 
  transition: background-color 0.3s ease;
}

.drawer-item:hover {
  background-color: #f0f2f5;
}

.drawer-list-style {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Manrope SemiBold';
  font-size: 14px;
  color: #2D3B4C;
}

.drawer-body {
  padding: 16px !important;
  background-color: #f7f5f5;
}

.drawer-item.active {
  background-color: #d0e8ff;
  font-weight: bold;
}

.icon {
  margin: '3px'
}

.table-style {
  width: '100%';
  margin-top: '5px';
  margin-bottom: '5px'
}

.title-font-style{
  font-family:"Manrope Bold";
  font-size: 20px;
}