.top-div{
    display: flex;
   // flex-direction: row;
   border: 1px solid #b6b7b8;
   padding: 10px;
   gap: 15px;
   position: relative;
 }
 .buttons-sect-one {
   position: absolute; 
   bottom: 0; 
   right: 0; 
   display: flex;
   gap: 10px;
   height: 80px;
   width: 400px;
   align-items: flex-end;
   justify-content: flex-end;
   padding: 10px; 
}