.top-div {
  display: flex;
  gap: 10px;
  width: '100%';
}

.bt-div {
  display: flex;
  gap: 5px;
}

.bt-div-2 {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: space-between;
}

.bt-right {
  margin-left: auto;
}

.div-parent {
  display: flex !important;
  gap: 17px !important;
}

.basuc-div {
  display: flex;
  flex-direction: column;
}

.fil-width {
  width: 100%;
}

.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}

.consultion-details-modal-handle-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 1vw;
}

.text-area-positions-detail-consultion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 1vw;
}

.main-details-consultion-page-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.attachment-button-consultation-position {
  width: 12vw;
  margin-top: 1.5vw;
}

.clone-icon-main-style {
  font-size: 24px;
  color: var(--primary-gray);
}

.icons-consultation-main-container {
  display: flex;
  flex-direction: row;
  gap: 0.3vw;
}

.icon-button {
  cursor: pointer;
}

.flex-space-20 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.flex-20 {
  display: flex;
  gap: 20px;
}

.section-note {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.margin-top-23 {
  margin-top: 23px;
}

.rsu-table-row:hover {
  background-color: rgba(0, 123, 255, 0.1);
  cursor: pointer;
}

.selected-row {
  background-color: rgba(0, 123, 255, 0.3) !important;
}

.table-buttons-left-part-handle-positions {
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
}


///



.preview-consultation {
  margin: 10px 0;
  border-radius: 12px;

  .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    .close-btn {
      cursor: pointer;
      color: #888;

      &:hover {
        color: #000;
      }
    }
  }

  .preview-body {
    line-height: 1.6;
    font-size: 14px;
  }
}