.top-div{
    display: flex;
   gap: 10px;
   width: '100%'
 }

.bt-div{
  display: flex;
   gap: 5px;
}
.bt-right{
  margin-left:auto;
}
.div-parent{
  display:flex !important;
  gap:17px !important;
}
.basuc-div{
 display: flex;
 flex-direction: column;
}
.fil-width{
  width: 100%;
}
.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}
