.bt-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.bt-right {
  margin-left: auto;
}

.selected-row {
  background-color: var(--primary-light-blue) !important;
}

.disabled-panel {
  opacity: 0.6;
  pointer-events: none;
}

.date-table-style {
  color: var(--primary-gray);
  font-size: 12px;
}

// EditProgressNotes Modal Styles
.progress-notes-field-row {
  margin-bottom: 16px;
  width: 100%;
}

.more-fields-button-row {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.additional-fields-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fields-row {
  display: flex;
  gap: 16px;
}
