.numeric-slider {
  width: 100%;
}

.numeric-slider__track {
  position: relative;
}

.numeric-slider__fill {
  position: absolute;
  top: 52%;
  left: 0;
  height: 7px;
  transform: translateY(-50%);
  z-index: 1;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  pointer-events: none;
}