.custom-advanced-modal .modal-header-flex {
    display: flex;
    justify-content: space-between;
}
.custom-advanced-modal .rs-modal-content {
    padding: 0 !important;
    background-color: #f9f9f9 !important;
    border-radius: 22px !important;
}
.modal-header-left,
.modal-header-right {
    width: 50%;
    text-align: start;
}
.modal-body-flex {
    display: flex;
    gap: 16px;

}
.modal-left-content {
    width: 30%;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.modal-right-content {
    width: 70%;
    background-color: white;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.divider-line {
    margin: 0;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    gap: 10px;
}
.custom-advanced-modal .rs-modal-body {

    padding: 0px !important;
    background-color: #F5F7FB;
    border-radius: 22px;
}
.modal-right-title {
    font-family: 'Inter Semi Bold';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.modal-left-title {
    font-family: 'Inter Medium';
    font-size: 18px;
}
.modal-right-main-title {
    color: #969FB0;
}
.modal-right-sub-title {
    color: #1C2836;
}

.modal-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    border-bottom: 1px solid #EDEDF0;
    padding: 0px 10px;
}
.modal-left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0px 15px;
    color: #1C2836;
}
.modal-right-body {
    padding: 20px 10px;
    flex: 1;
    overflow-y: auto;
    
}
.modal-left-body {
    padding: 20px 20px;
    flex: 1;
    overflow-y: auto;
}                                                                                           
.modal-right-footer {
    display: flex;
    align-items: center;
    height: 54px;
    border-top: 1px solid #EDEDF0;
    padding: 0px 10px;
    bottom: 0px;
    background: #fff;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.modal-right-footer-buttons {
    display: flex;
    margin-left: auto;
}