.procedure-module-table-filters-handle-position {
  display: flex !important;
  flex-direction: row !important;
  gap: 1vw !important;
}

.indication-procedure-handle-position {
  display: flex;
  flex-direction: column;
  gap: 0.1vw;
}

.margin-21 {
  margin-top: 21px !important;
}
