.icons-room{
  cursor: pointer;
}
.container-of-icons-room {
  display: flex;
  gap: 10px;
}
.container-of-filter-fields-room {
  margin-top: 10px;
}
.container-of-room-info{
  display: flex; gap: 5px;
   align-items: flex-end
}
.container-of-icons-bed {
  display: flex;
  gap: 10px;
}
.container-of-multi-fields-form {
  width: 100%;
  display: flex;
  gap: 10px;
}