.title-catalog {
  display: flex;
}
.container-of-icons-catalog {
  display: flex;
  gap: 10px;
}
.icons-catalog {
  cursor: pointer;
}
.container-of-icons-catalog {
  display: flex;
  gap: 10px;
}
.container-of-add-new-button-catalog {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-filter-fields-catalog {
  margin-top: 10px;
}
