.check-box-next-of-kim-position{display: flex;
position: relative;
right: 6vw;}


.patient-search-drawer {
  .rs-drawer-actions {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }
}

.patient-search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .rs-form {
    width: 100%;
  }

  .patient-search-input {
    width: 100%;
  }
}

.patient-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.actions-button {
  padding: 4px 8px;
}
