.actions-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gap-5 {
  display: flex;
  gap: 5px !important;
}

.flex-row-5 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
