@import '~rsuite/styles/index.less';
@import '../components/Frame/styles.less';
@import '../components/ErrorPage/styles.less';
@import '../components/Header/styles.less';
@import '../components/MyLabel/styles.less';

@font-face {
  font-family: 'Manrope';
  src: url('/src/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('/src/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope SemiBold';
  src: url('/src/fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope Medium';
  src: url('/src/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/src/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Semi Bold';
  src: url('/src/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('/src/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/src/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

body {
  background: #ffffff;
  zoom: 1;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  zoom: 1 !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
th,
td {
  font-family: 'Inter', sans-serif !important;
}

.text-muted {
  color: @B700;
}

.rs-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 3;
}

.page-container {
  // padding-left: 260px;
  // transition: padding 0.5s;

  // &.container-full {
  //   padding-left: 60px;
  // }

  padding-left: 17%;
  transition: padding 0.5s;

  &.container-full {
    padding-left: 60px;
  }
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%);
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

.bg-gradient-blue {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.selected-row .rs-table-cell {
  background-color: rgba(#2264e5, 0.1) !important;
}

.form-div {
  max-height: 800px;
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  border: rgba(0, 0, 0, 0.1) solid 1px;
}

.rs-carousel-slider-item {
  background-color: var(--rs-body);
}

.rs-carousel-toolbar {
  display: none;
}

.rs-input:disabled {
  color: var(--rs-text-primary) !important;
}

.rs-picker-disabled {
  opacity: 0.9;
}

.rs-btn {
  line-height: 16px !important;
}

.react-tabs__tab-list {
  border-bottom-color: #B0B2B3;
}

.react-tabs__tab {
  color: #949494 !important;
  border-radius: 0px;
  border: none;
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:active {
  color: var(--primary-blue) !important;
  border-bottom: 2px solid var(--primary-blue) !important;

  &:after,
  &:before {
    display: none;
  }
}

.rs-table-bordered {
  border: 1px solid #b4b2b2;
}

.rs-table-cell {
  border-color: #ffffff !important;
  font-size: 14px;
}

.rs-table-cell-content {
  display: flex;
  align-items: center;
}

.date-table-style {
  font-family: 'Inter Regular';
  font-size: 12px;
  color: var(--primary-gray)
}

.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row:hover .rs-table-cell {
  background-color: rgba(#969fb0, 0.05);

  cursor: pointer;
}

.rs-table-row-header .rs-table-cell {
  color: #575757;

  background-color: rgba(#2264e5, 0.05) !important;

  height: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inter Semi Bold';
}

.rs-table-row:nth-of-type(even) .rs-table-cell {
  background-color: #f9fafc;
}

.p-blockui {
  z-index: 2000 !important;
}

.rs-panel-header,
.rs-panel-body {
  padding: 4.5px !important;
}

.rs-panel {
  border-radius: 5px;
}

.rs-form-inline>*,
.rs-form-inline>.rs-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.rs-row {
  margin-bottom: 5px;
}

.rs-modal-title {
  overflow: visible;
}

.rs-dropdown-item>.rs-icon {
  margin-right: 5px;
}

textarea {
  border-color: rgb(240, 237, 237);
  border-radius: 6px;
  overflow: auto;
}

aside {
  z-index: 102 !important;
}

.rs-toggle {
  line-height: 2;
}

.taggroup-style {
  background-color: white;
  padding: 10px 3px 4px 3px;
}

.rs-tag-group {
  margin: 0px !important;
}

.rs-tag {
  display: inline-block;
  background-color: #EDEDF0;
  color: var(--rs-text-primary);
  border-radius: 25px;
  line-height: 20px;
}

.rs-tag-group>.rs-tag {
  margin-top: 0px !important;
}
//for tabs wrap
.rs-nav-horizontal {
    white-space:wrap; 
}
:root {
  --primary-blue: #415be7;
  --light-blue: #60afff;
  --deep-blue: #2264e5;
  --extra-light-blue: #f4f7fc;
  --rs-cyan-500: #415be7;

  --primary-pink: #e23670;
  --light-pink: #fcebf1;

  --primary-purple: #800080;

  --dark-blue-gray: #2d3b4c;

  --background-light: #f9fafb;
  --background-gray: #f2f3f4;
  --primary-gray: #969fb0;
  --icon-gray: #8f98ab;
  --gray-dark: #666;
  --black: #000000;
  --light-gray: #F9FAFC;

  --primary-green: #45b887;
  --light-green: #daf1e7;

  --primary-orange: #f29a4d;
  --light-orange: #fbe5bf;
  --primary-yellow: #f2cb4d;
  --light-yellow: #fbf5bf;

  --table-header-bg: #f4f7fe;

  // Font size
  --smallest-font-size: 11px;
  --small-font-size: 12px;
  --regular-font-size: 14px;
  --medium-font-size: 16px;
  --largest-font-size: 24px;

  //Font weight
  --text-weight-bold: 500;
  --text-weight-extra-bold: 600;
}

.rs-form-inline .rs-form-control-label {
  margin-bottom: 5px !important;
  margin-right: 0 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #1c2836 !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
  font-family: 'Inter Medium' !important;
}

.rs-input {
  background: #ffffff !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);
}

.rs-picker-toggle-wrapper {
  border-radius: 6px !important;
  background: #ffffff !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);
}

.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  padding-right: 32px;
  height: 100% !important;
  border-radius: 10px;
}

.rs-input-group .rs-input {
  box-shadow: none !important;
  border: none;
}

.rs-container {
  display: block !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: none !important;
  position: relative;
}

.rs-content {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.custom-date-input .rs-input-group-inside {
  height: var(--input-height) !important;
  background: #ffffff !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);
}

.rs-picker-default .rs-picker-toggle {
  position: relative;
  padding-right: 32px;
  display: inline-block;
  color: var(--rs-text-primary);
  border: none !important;
}

.custom-date-input .rs-input-group-inside {
  height: var(--input-height) !important;
  background: #ffffff !important;
  box-shadow: none !important;
  border: 0px solid var(--rs-border-primary);

}

.rs-input-number {
  background: none !important;
}

.rs-drawer-body {
  padding: 5px 10px !important;
}

.delete-icon {
  color: var(--primary-pink) !important;
}
input[disabled] {
  background: #f9fafb !important;
}
.page-title{
  display: flex;
}
.container-of-icons{
  display: flex;
  gap: 10px;
}
.icons-style{
  cursor: pointer;
}
.container-of-add-new-button{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px; 
}