@import '~rsuite/styles/index.less';
@import '../components/Frame/styles.less';
@import '../components/ErrorPage/styles.less';
@import '../components/Header/styles.less';
@import '../components/MyLabel/styles.less';

@font-face {
  font-family: 'Manrope';
  src: url('/src/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Manrope Bold';
  src: url('/src/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');

}

@font-face {
  font-family: 'Manrope Medium';
  src: url('/src/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter Bold';
  src: url('/src/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter Semi Bold';
  src: url('/src/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter Medium';
  src: url('/src/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');

}


body {
  background: #ffffff;
  zoom: 1;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  zoom: 1 !important;
}

.text-muted {
  color: @B700;
}

.rs-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 3;
}

.page-container {
  padding-left: 260px;
  transition: padding 0.5s;

  &.container-full {
    padding-left: 60px;
  }
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%);
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

.bg-gradient-blue {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.selected-row .rs-table-cell {
  background-color: rgba(#2264E5, 0.10) !important;
}

.form-div {
  max-height: 800px;
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  border: rgba(0, 0, 0, 0.1) solid 1px;
}

.rs-carousel-slider-item {
  background-color: var(--rs-body);
}

.rs-carousel-toolbar {
  display: none;
}

.rs-input:disabled {
  color: var(--rs-text-primary) !important;
}

.rs-picker-disabled {
  opacity: 0.9;
}

.rs-btn {
  line-height: 16px !important;
}

.react-tabs__tab {
  background-color: #ebf1f5 !important;
  border-radius: 0px;
}

.react-tabs__tab--selected {
  background-color: #a8cce5 !important;
}

.rs-table-bordered {
  border: 1px solid #b4b2b2;
}

.rs-table-cell {
  border-color: #ffffff !important;
  font-size: 14px;
}

.rs-table-cell-content {
  display: flex;
  align-items: center;
}

.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row:hover .rs-table-cell {
  background-color: rgba(#969FB0,0.05);

  cursor: pointer;
}

.rs-table-row-header .rs-table-cell {
  color: #575757;

  background-color: rgba(#2264E5, 0.05) !important;

  height: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Inter Semi Bold';
}

.rs-table-row:nth-of-type(even) .rs-table-cell {
  background-color: #F9FAFC;
}

.p-blockui {
  z-index: 2000 !important;
}

.rs-panel-header,
.rs-panel-body {
  padding: 4.5px !important;
}

.rs-panel {
  border-radius: 5px;
}

.rs-form-inline>*,
.rs-form-inline>.rs-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.rs-row {
  margin-bottom: 5px;
}

.rs-modal-title {
  overflow: visible;
}

.rs-dropdown-item>.rs-icon {
  margin-right: 5px;
}
textarea {
  border-color: rgb(240, 237, 237);
  border-radius: 6px;
  overflow: auto;
}
aside {
  z-index: 102 !important;
}

.rs-toggle {
  line-height: 2;
}

:root {

  --primary-blue: #415BE7;
  --light-blue: #60AFFF;
  --deep-blue: #2264E5;
  --extra-light-blue: #F4F7FC;


  --primary-pink: #E23670;
  --light-pink: #FCEBF1;

  --dark-blue-gray: #2D3B4C;

  --background-light: #F9FAFB;
  --background-gray: #F2F3F4;
  --primary-gray: #969FB0;
  --icon-gray:#8F98AB;
  --gray-dark: #666;
  --black:#000000;


  --primary-green: #45B887;
  --light-green: #DAF1E7;

  --primary-orange: #F29A4D;
  --light-orange: #FBE5BF;
  --primary-yellow: #F2CB4D;
  --light-yellow: #FBF5BF;
}

.rs-form-inline .rs-form-control-label {
  margin-bottom: 5px !important;
  margin-right: 0 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #1C2836 !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
  font-family: 'Inter Medium' !important;
}

.rs-input {
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);

}

.rs-picker-toggle-wrapper {
  border-radius: 6px !important;
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);

}

.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  padding-right: 32px;
  height: 100% !important;
}

.rs-input-group .rs-input {
  box-shadow: none !important;
  border: none;

}

.rs-container {
  display: block !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: none !important;
}

.rs-content {
  margin-top: 0 !important;
  padding-top: 0 !important;

}

.custom-date-input .rs-input-group-inside {
  height: var(--input-height) !important;
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px rgba(105, 104, 104, 0.06), 0px 0px 0px 1px rgba(110, 109, 109, 0.16) !important;
  border: 0px solid var(--rs-border-primary);
}

.rs-picker-default .rs-picker-toggle {
  position: relative;
  z-index: 5;
  padding-right: 32px;
  display: inline-block;
  color: var(--rs-text-primary);
  border: none !important;
}

.custom-date-input .rs-input-group-inside {
  height: var(--input-height) !important;
  background: #FFFFFF !important;
  box-shadow: none !important;
  border: 0px solid var(--rs-border-primary);

}