.container-of-add-bar-checklist {
  display: flex;
  justify-content: space-between;
}
.container-of-icons-checklist {
  display: flex;
  gap: 10px;
}
.icons-checklist {
  cursor: pointer;
}
.title-checklist {
  display: flex;
}
.container-of-add-new-button-checklist {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
