.coulmn-input-position{display: flex;
flex-direction: column;
}


.input-center {
  display: flex;
  justify-content: center;
}

.input-start {
  display: flex;
  justify-content: flex-start;
}

.input-end {
  display: flex;
  justify-content: flex-end;
}



