.coulmn-input-position{display: flex;
flex-direction: column;
}


.input-center {
  display: flex;
  justify-content: center;
  margin-bottom:1rem ;
}

.input-start {
  display: flex;
  justify-content: flex-start;
  margin-bottom:1rem ;
}

.input-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom:1rem ;
}

.vital-signs-handle-position-row{display: flex;
flex-direction: row;
gap: 1vw;}

.gap-betwen-blood-pressures{margin-top: 1.5vw;}

.fill-last-readings-main-position{display: flex;
flex-direction: row;
justify-content: end;
position: relative;
left: 5vw;}