.coulmn-input-position{display: flex;
flex-direction: column;
}


.input-center {
  display: flex;
  justify-content: center;
  margin-bottom:1rem ;
}

.input-start {
  display: flex;
  justify-content: flex-start;
  margin-bottom:1rem ;
}

.input-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom:1rem ;
}



