.container-of-header-fields-blood{
    display: flex;
    justify-content: space-between;
}
.container-of-buttons-blood{
  display: flex;
  gap: 10px;
}
// .container-of-fields{
//     display: flex;
//     gap: 10px;
// }