.top-container-p {
    display: flex;
    flex-direction: row;
    border: 1px solid #b6b7b8;
    padding: 10px;
    gap: 15px;
    
    position: relative;
}

.form-search-container-p {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5px;
}

.input-search-p {
    width: 500px;
    direction: ltr;
}

.buttons-sect-p {
    position: absolute;
    bottom: 0;
   
    display: flex;
    gap: 10px;
    height: 80px;
    width: 440px;
    align-items: center;
    justify-content: flex-end;
     margin-left: auto
     

}

.instructions-container-p {
    display: flex;
    flex-direction: row;
    
    gap: 20px;

}

.toggle-style {
    display: flex;
    flex-direction: column;

}

.taggroup-style {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    margin: 10px 0; 
    background-color: #f9f9f9;
}
.mid-container-p {
    display: flex;
    flex-direction:column;
  
    padding: 10px;
    gap: 15px;
    
    position: relative;
}
.buttons-sect-left{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 10px;
   
    align-items: center;
    justify-content: center;

}
.dropdown-menuresult {
    width: auto;
    min-width: fit-content;
    white-space: nowrap; 
}

.custom-fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    box-sizing: border-box;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
    width: 250px; 
    height:200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
                0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9999;
}

// .custom-fab:hover {
//     background-color: #d6d6d6;
//     box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.2), 
//                 0px 7px 12px 1px rgba(0, 0, 0, 0.14), 
//                 0px 2px 20px 1px rgba(0, 0, 0, 0.12);
// }

.custom-fab-icon {
    font-size:12px; 
    line-height: 1;
    
}
