.patient-merge-config-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-of-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons-style {
  cursor: pointer;
}