.container-of-header-brand-medication {
  display: flex;
  gap: 10px;
}
.container-of-icons-generic-medication {
  display: flex;
  gap: 10px;
}
.icons-generic-medication {
  cursor: pointer;
}
.container-of-two-fields-generic-medication {
  display: flex;
  gap: 20px;
}
.container-of-add-new-button-generic-medication {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.title-generic-medication {
  display: flex;
}
.container-of-filter-fields-generic-medication {
  margin-top: 10px;
}
.container-of-header-actions-medication-matrix{
  display: flex;
  justify-content: space-between;
}

.form-medication-matrix{
  padding: 1px;
}