.title-lov{
  display: flex;
}
.title-lov-values {
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}
.container-of-two-fields-lov {
    width: 100%;
    display: flex;
    gap: 10px;
    @media (max-width: 1000px) {
         flex-direction: column;
    }
    
  }
.container-of-header-actions-lov-values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  @media (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
  }
}
.container-of-lov{
    height: auto !important;
     background-color: var(--rs-body) !important;
}
.container-of-add-new-button-lov{
     display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-filter-fields-lov{
  margin-top: 10px;
}
.container-of-icons-lov {
  display: flex;
  gap: 10px;
}
.icons-lov{
  cursor: pointer;
}
.container-of-my-input-lov{
    width: 50%;
    @media (max-width: 1000px) {
        width: 100%;
    }
}