.delete-circle-wrapper {
    width:48px;
    height: 48px;
    border-radius: 50%;
    border: 2px dashed var(--primary-pink); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-modal .rs-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 20px 0px !important;
  }
  
  .delete-modal .rs-modal-header{
    padding: 0 !important;
  }
  .delete-modal .rs-modal-body {
    padding: 0 !important;
}
  .delete-circle-inner {
    width: 40px;
    height: 40px;
    background-color: var(--primary-pink); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-circle-inner svg {
    color: white;
    font-size: 14px;
  }
  .footer-delete-modal{
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  .body-delete-modal{
    font-size: 14px;
    font-family: 'Inter Medium';
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-modal  {
    top: 20%  !important;
}
