.details-card {
  border-radius: 8px;
  overflow: hidden;
}

.details-card-content {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  padding: 1vw;
}

.details-card-icon {
  width: 25px;
  height: 25px;
}

.details-card-text {
  display: flex;
  flex-direction: column;
}

.position-left {
  justify-content: flex-start;
  text-align: left;
}

.position-center {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.position-right {
  justify-content: flex-end;
  text-align: right;
  width: 100%;
}

// Keep this as the last style in the file to override styles when dark mode is active
.details-card.dark{
  box-shadow:  var(--dark-mode-box-shadow);
    background-color: var(--dark-black) !important;
}