// DetailsCard.styles.less

.details-card {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 20vw;
}

.icon-style {
  width: 25px;
  height: 25px;
  padding-top: 0.8vw;
  padding-left: 1vw;
}

.sections-row-positions-handle {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.sections-coulmns-positions-handle {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5vw;
}

.sections-coulmns-positions-handle p {
  font-size: 12px;
  color: rgb(70, 70, 70);
}
.icon-style {
  background: none !important;
  background-color: transparent !important;
}
