.fields-containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fields-containers {
  width: 100%;
  overflow: hidden;
}

.fields-containers > * {
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin-right: 4%;
  margin-left: 1%;

  margin-bottom: 16px;
}

.fields-containers > *:nth-child(2n) {
  margin-right: 0;
}

.fields-containers > *:nth-child(2n + 1) {
  clear: left;
}

.two {
  display: flex;
  gap: 0;
}

.two > * {
  margin: 0;
  margin-left: 1px;
}
.sec {
  margin-top: 22px;
}

.div-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.margin-top {
  margin-top: 20px;
}
.render-aws {
  cursor: pointer;
  display: flex;
  gap: 8px;
}
.render-modal-footer {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dietary-request-modal-handle{
width: 100%;
display: flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;}