.iob-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 100%;

}

.iob-row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  
}

.iob-half {
  flex: 1;
    padding-left: 0.5vw;
  padding-right: 0.5vw;
}
