.result-checkbox-show-abnormal-result{margin-top: 2vw;}

.my-table-filters-laboratory-result-comparsion{padding: 10px 17px 13px !important;
margin-top: 10px;
border: 1px solid var(--rs-border-primary);
border-radius: 8px;}
