.title-age-groups {
  display: flex;
}
.container-of-filter-fields-age-groups {
  margin-top: 10px;
}
.container-of-icons-age-groups {
  display: flex;
  gap: 10px;
}
.icons-age-groups {
  cursor: pointer;
}
.container-of-add-new-button-age-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-two-fields-age-groups {
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-of-field-age-group{
    width: 50%;
}
