.container-of-two-fields{
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-of-three-fields{
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-of-field {
  width: 50%;
}
.container-of-field_three {
  width: 33.3%;
}
.title{
  display: flex;
}
.container-of-filter-fields {
  margin-top: 10px;
}
.container-of-icons {
  display: flex;
  gap: 10px;
}
.icons{
  cursor: pointer;
}
.container-of-add-new-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-info{
  display: flex; gap: 5px;
   align-items: flex-end
}