.caprini-risk-assessment-modal-inputs{display: flex;
flex-direction: column;
gap: 0.8vw;
position: relative;
bottom: 0vw;}

.caprini-risk-assessment-modal-my-badge-status{display: flex;
flex-direction: column;
position: relative;
gap: 1vw;}

.caprini-risk-assessment-modal-input-positon-top{position: relative;
    bottom: 0.3vw;
}