.insurance-badge-text{
    display: inline-block;
    margin: 3px 15px 0 0;
    cursor: pointer;
  }
  .covg-conrainer{
    .covg-content{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .covg-content-fields{
            display: flex;
            gap: 10px;
        }
        .covg-content-right-btn{
            display: flex;
        }
    }
  }
  .tab-main-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .tab-content-btns{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .btn-fileds-style{
      display: flex;
      align-items: flex-end ;
    }
  }
  .ph-main-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  .divider-line-vertical{
    height: 31px !important;
    font-size: 4px !important;
    margin: 0px 15px 0px 15px !important
  }
  .border-top{
   border-top: 1px solid #e1e1e1;
  }
  .add-verification{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .patient-search-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .patient-search-fields-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input-search{
      width: 250px !important;
       direction: 'ltr';
    }
  }
  .patient-realition-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }