.insurance-badge-text{
    display: inline-block;
    margin: 3px 15px 0 0;
    cursor: pointer;
  }
  .covg-conrainer{
    .covg-content{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .covg-content-fields{
            display: flex;
            gap: 10px;
        }
        .covg-content-right-btn{
            display: flex;
        }
    }
  }
  .tab-main-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .tab-content-btns{
        display: flex;
        align-items: center;
        gap: 10px;
    }
  }
  .ph-main-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }