.table-header-content {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.add-new-purchase-approval-button {
  text-align: end;
}

.purchase-approval-setup-main-page-gaps {
  display: flex;
  flex-direction: column;
  gap: 50vw;
}

.main-purchase-approval-page-gaps {
  display: flex;
  flex-direction: column;
}

.add-new-purchase-approval-button {
  margin-top: 0.2vw;
  margin-bottom: 0.5vw;
}
