
.Table-Header-Content {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.Add-New-Purchase-Approval-Button {
  text-align: end;
}

.Purchase-Approval-Setup-Main-Page-Gaps {
  display: flex;
  flex-direction: column;
  gap: 50vw;
}

.Main-Purchase-Approval-Page-Gaps {
  display: flex;
  flex-direction: column;
}

.Add-New-Purchase-Approval-Button {
  margin-top: 0.2vw;
  margin-bottom: 0.5vw;
}
