body.modal-open {
  overflow: hidden !important;
}
.rs-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
.title-modal{
 text-align: center;
}
.icon-title-modal{
  margin-right: 8px;
}
.steps-modal{
margin-bottom: 20px;
}
.rigth-modal {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  margin-right: 10px !important;
  max-width: none !important;
  transform: none !important;
  border-radius: 22px !important;
}
.left-modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  margin-left: 10px !important;
  max-width: none !important;
  transform: none !important;
  border-radius: 22px !important;
}
.rs-modal-content {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(0, 0, 0, 0.29);
  border: 1px solid white;
  border-radius: 22px !important;
  padding: 0px !important;
}
.rs-modal-header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px !important;

}
.rs-modal-header-close {
  width: 20px !important;
  height: 20.77px !important;
  color: #5B5B5B !important;
}
.rs-modal-header .rs-modal-header-close {
  font-size: medium !important;
}
.divider-line {
  margin: 0 !important;
}
.divider-line .rs-divider {
  background-color: #EDEDF0 !important;
}
.rs-modal-body {
  padding: 20px !important;
  margin-top: 0px !important;
}
.rs-modal-footer {
  padding: 5px 20px !important;
}
.rs-steps-item {
  padding-left: 0 !important;
}
.rs-steps-item-title {
  padding-right: 0px !important;
}
.centered-step {
  justify-content: center !important;
}
.footer-modal{
  display: flex;
  align-items: center;
}
.footer-modal-content{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.step-past {
  color: green;
  font-size: 20px;
}
.step-active {
  color: blue;
  font-size: 20px;
}
.step-future {
  color: gray;
  font-size: 20px;
}

