.title-prescription{
  display: flex;
}
.container-of-filter-fields-prescription {
  margin-top: 10px;
}
.icons-prescription{
  cursor: pointer;
}
.container-of-add-new-button-prescription {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-two-fields-prescription {
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-of-field-prescription{
    width: 50%;
}
.container-of-icons-prescription {
  display: flex;
  gap: 10px;
}