.label-placement .rs-badge-content {
  top: -5px;
}
.badge-hidden .rs-badge-content {
  display: none;
}
.required-field {
  color: #e23670;
    font-size: 110%;
    margin: 3px;
}

.dark .required-field {
  color: red;
}