.left-boxs {
  width: calc(100% - 285px);
}
.flexs {
  display: flex;
}
.flexs-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.rs-theme-dark {
  .rdw-editor-toolbar {
    background-color: var(--dark-black) !important;
    border: solid 1px var(--rs-border-primary) !important;
    .rdw-dropdown-wrapper {
      background-color: rgb(58, 58, 58) !important;
      border: solid 1px var(--rs-border-primary);
      .rdw-dropdown-optionwrapper {
        background-color: rgb(58, 58, 58) !important;
        border: 1px solid var(--rs-border-primary);
      }
    }
    .rdw-dropdownoption-default:hover {
      background-color: rgb(99, 94, 94) !important;
    }
    .rdw-dropdownoption-active {
    background:  rgb(99, 94, 94) !important;;
}
  }
}

.icon-radiologist-worklist-size{width: 18px;
height: 18px;
color: var(--primary-gray);}

.rad-test-table-buttons-main-container{display: flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;
box-sizing: border-box;}

.filter-form-radiology-filters {
display: flex;
flex-direction: row;
gap: 1vw;

flex-wrap: wrap;}

.orders-filters-main-container{display:flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;}

.rad-test-table-main-size{max-width: 73vw;}
