.left-boxs {
  width: calc(100% - 285px);
}
.flexs {
  display: flex;
}
.flexs-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.rs-theme-dark {
  .rdw-editor-toolbar {
    background-color: var(--dark-black) !important;
    border: solid 1px var(--rs-border-primary) !important;
    .rdw-dropdown-wrapper{
      background-color: rgb(58, 58, 58) !important;
      border: solid 1px var(--rs-border-primary);
      .rdw-dropdown-optionwrapper{
        background-color: rgb(58, 58, 58) !important;;
      }
    }
  }
}


