.left-boxs {
  width: calc(100% - 285px);
}
.flexs {
  display: flex;
}
.flexs-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.rs-theme-dark {
  .rdw-editor-toolbar {
    background-color: var(--dark-black) !important;
    border: solid 1px var(--rs-border-primary) !important;
    .rdw-dropdown-wrapper {
      background-color: rgb(58, 58, 58) !important;
      border: solid 1px var(--rs-border-primary);
      .rdw-dropdown-optionwrapper {
        background-color: rgb(58, 58, 58) !important;
        border: 1px solid var(--rs-border-primary);
      }
    }
    .rdw-dropdownoption-default:hover {
      background-color: rgb(99, 94, 94) !important;
    }
    .rdw-dropdownoption-active {
    background:  rgb(99, 94, 94) !important;;
}
  }
}
