.title-uom{
  display: flex;
}
.container-of-icons-uom {
  display: flex;
  gap: 10px;
}
.icons-uom{
  cursor: pointer;
}
.container-of-add-new-button-uom{
     display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}