.title{
  display: flex;
}
.container-of-icons{
  display: flex;
  gap: 10px;
}
.icons-uom{
  cursor: pointer;
}
.container-of-add-new-button{
     display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}