.bt-right {
    margin-left: auto;
}

.top-div {
    display: flex;
    gap: 10px;
    width: '100%';
    margin-bottom: 10px;
}

.details-style {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px
}

.system-style {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    gap: 5px;
    flex: 1
}
.system-details {
    display: flex;
    flex-direction: column;
   width: 100%;
    flex: 4
}
.pagination{
    margin-top: auto !important;
}
.summery-div {
    display: flex;
    flex-direction: column;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    max-height: 250px;
    overflow-y: auto;
  
 
  }
  .summery-div-child {
    margin-bottom: 10px;
    padding: 5px;
    
  }