.icu-main-container{display: flex;
flex-direction: column;
gap: 1vw;}


.icu-first-section-content-container{display: flex;
flex-direction: row;
gap: 0.8vw;
flex-wrap: wrap;
box-sizing: border-box;}

.icu-first-section-container{}


.h3-icu-screen-handle {
  display: flex;
  align-items: center;
  gap: 8px;
}



.vital-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.vital-icon {
  color: #4CAF50;
  font-size: 18px;
  margin-right: 6px;
}

.vital-label {
  color: #4CAF50;
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

.vital-value {
  font-size: 32px;
  font-weight: bold;
  color: #4CAF50;
}

.vital-unit {
  font-size: 14px;
  color: #4CAF50;
}

.vital-title{color: #4CAF50;
font-size: 20px;
font-weight: bold;}

.second-section-add-button{display: flex;
flex-direction: row;
justify-content: end;
margin-bottom: 1vw;}

.vital-sign-icu-card{display: flex;
justify-content: start;
margin-top: 0.4vw;}

.second-section-abgs-handle{margin-top: 1vw;}