
.main-box {
    display: flex;
    gap: 10px;   
  }
  .left-buttons-container{
    display: flex;
    .left-buttons-contant{
        display: flex;
        margin-left: auto;
        padding-top: 5px;
        gap: 10px;
      }
  }
@media (max-width:600px){
    .main-box{
        flex-direction:column;
    }
}
