@media (max-width: 1350px) {
    .responseveDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .resDivPart{
        width:100%;
        flex: 0 0 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}
