.loader-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .loader-container {
      position: relative;
      width: 6rem;
      height: 6rem;
      animation: swing 3s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
      transform-origin: center top;
  }
  
  .loader-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 1s ease;
  }
  
  .loader-hidden {
    opacity: 0;
  }
  
 
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(6deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  