.disabled-panel {
  pointer-events: none;
  opacity: 0.6;
}

.flex-row-3 {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}
.Associated-Symptoms-Container {
  .my-input-container.rs-form-group {
    margin-bottom: 0px !important;
  }
}
