.flex-8 {
  display: flex;
  gap: 8px;
}


.container-of-filter-fields-department{ display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.container-of-filter-fields-department-date-filters{display: flex;
flex-direction: row;
gap: 1vw;
margin-top: 0.8vw;}