.visit-duration-modal-form {
  .top-row,
  .bottom-row {
    display: flex;
    gap: 2vw;
    margin-bottom: 1vw;
  }

  .middle-row {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
}