.header {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 93%; 
}
.headerItem{
  display: flex;
  align-items: center;
  gap:10px
}

.titleItem {
  display: flex;
  align-items: center;
  width: 1000px;
}