.header {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  right: 0;
  padding: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--rs-border-primary);
   overflow: hidden;
  .headerItem {
    button {
      background: none;
      &:hover {
        background: var(--rs-btn-default-hover-bg);
      }
    }
  }
}
.headerItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.titleItem {
  display: flex;
  align-items: center;
}
// @media (min-width: 1300px) {
//   .header.expand {
//     width: calc(93% - 140px);
//   }
// }
// @media (max-width: 1300px) {
//   .header.expand {
//     width: calc(89% - 120px);
//   }
// }
// @media (max-width: 830px) {
//   .header.expand {
//     width: calc(80% - 200px);
//     zoom: 0.85;
//   }
// }
// @media (max-width: 685px) {
//   .header.expand {
//     width: calc(75% - 200px);
//     flex-direction: column-reverse;
//   }
// }
// @media (max-width: 544px) {
//   .header.expand {
//     width: calc(70% - 200px);
//     flex-direction: column-reverse;
//   }
// }
// @media (max-width: 520px) {
//   .header.expand {
//     width: calc(65% - 200px);
//     flex-direction: column-reverse;
//   }
// }
// @media (max-width: 445px) {
//   .header.expand {
//     width: calc(55% - 200px);
//     flex-direction: column-reverse;
//   }
// }
// @media (max-width: 500px) {
//   .header {
//     flex-direction: column-reverse;
//   }
// }

// .main-screen-bar-filters-header {
//   position: relative;
//   bottom: 0.5vw;
// }

.main-screen-bar-filters-header-main-container {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
}
