.title-practitioners {
  display: flex;
}
.container-of-two-fields-practitioner {
  display: flex;
  gap: 20px;
}
.container-of-icons-practitioners {
  display: flex;
  gap: 10px;
}
.container-of-add-new-button-practitioners {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.icons-practitioners {
  cursor: pointer;
}
.container-of-filter-fields-practitioners {
  margin-top: 10px;
}
