.family-history-actions {
  display: flex;
  gap: 12px;
  align-items: center;

  .edit-icon {
    cursor: pointer;
    fill: var(--primary-gray);
  }

  .delete-icon {
    cursor: pointer;
    fill: var(--primary-pink);
  }
}
