.er-main-container{
    display: flex;
    gap: 15px;
}
.left-box {
  width: calc(100% - 285px);
  border-radius: 5px;
  border: 1px solid var(--background-gray);
  padding: 20px;
}
/* GeneralAssessmentForm.css */

.form-inline-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}


.button-bottom-align {
  align-self: flex-end;
}
.button-bottom-align-btm {
  margin-top: 22px;
}
.bt-field-div{
  display: flex;
  align-items: center;
   gap: 5px;

}