.er-main-container{
    display: flex;
    gap: 15px;
}
.left-box {
  width: calc(100% - 285px);
  border-radius: 5px;
  border: 1px solid #e4e6e7;
  padding: 20px;
}
/* GeneralAssessmentForm.css */

.form-inline-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}
.button-right {
    display: flex!important;
    justify-content: flex-end !important;
}

.button-bottom-align {
  align-self: flex-end;
}
.button-bottom-align-btm {
  margin-top: 22px;
}
.bt-field-div{
  display: flex;
  align-items: center;
   gap: 5px;

}
.send-to-options-form {
  display: flex;
  flex-direction: column;       
  align-items: center;          
  justify-content: center;                      
  gap: 20px;                    
}

.date-filter-form{display: flex;
flex-direction: row;}

.buttons-filter-table-position-handle{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  margin-bottom: 1.4vw;}

  .patient-priority-er-level-handle-position{display: flex;
  flex-direction: row;
gap: 1vw;}

.er-triage-filters-position-handle{display: flex;
flex-direction: row;
gap: 1vw;}

.er-department-table-filters-position{display: flex;
flex-direction: row;
gap: 1vw;}
.switch-department-er-department-position{margin-top: 1.4vw;}

.er-list-table-buttons-position-handle{display: flex;
flex-direction: row;
gap: 0.5vw;}