.bt{
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 8px;
height: 40px;
border-radius: 6px;
font-family: 'Inter Medium';
font-size: 14px;}

@media (max-width: 1150px) {
    .bt{
 zoom:0.92
    }
  }
  @media (max-width: 1020px) {
    .bt{
 zoom:0.88
    }
  }
  @media (max-width: 950px) {
    .bt{
 zoom:0.83
    }
  }
  @media (max-width: 900px) {
    .bt{
 zoom:0.80
    }
  }
  @media (max-width:800px) {
    .bt{
 zoom:0.70
    }
  }
  @media (max-width:400px) {
    .bt{
 zoom:0.60
    }
  }