.bt {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 8px;
   font-family: 'Inter Medium';
   border-radius: 6px;
   transition: all 0.3s ease;
 }
 .bt.xsmall{
  height: 22px;
  font-size: 11px;
 }
 .bt.small {
   height: 30px;
   font-size: 12px;

 }
 
 .bt.medium {
   height: 40px;
   font-size: 14px;
  
 }
 
 .bt.large {
   height: 50px;
   font-size: 16px;
 
 }
 @media (max-width: 1100px) {
  .bt.xsmall{
    height: 21px;
    font-size: 11px;
   }
   .bt.small {
     height: 29px;
     font-size: 11px;
   }
 
   .bt.medium {
     height: 38px;
     font-size: 13px;
   }
 
   .bt.large {
     height: 47x;
     font-size: 15px;
   }
 }
@media (max-width: 950px) {
  .bt.xsmall{
    height: 19px;
    font-size: 10px;
   }
   .bt.small {
     height: 28px;
     font-size: 11px;
   }
 
   .bt.medium {
     height: 36px;
     font-size: 13px;
   }
 
   .bt.large {
     height: 45px;
     font-size: 15px;
   }
 }
 
 @media (max-width: 600px) {
  .bt.xsmall{
    height: 17px;
    font-size: 10px;
   }
   .bt.small {
     height: 26px;
     font-size: 10px;
   }
 
   .bt.medium {
     height: 32px;
     font-size: 12px;
   }
 
   .bt.large {
     height: 40px;
     font-size: 14px;
   }
 }
 