.container-of-cdt-nutrition {
  display: flex;
  align-items: end;
}
.table-container-nutrition {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.nutrition-state {
  .rs-row {
    margin-top: 10px;
  }
}
.title-nutrition-state {
  font-weight: bold;
}
.container-of-add-new-button-pre {
  display: flex;
  justify-content: flex-end;
}
