.inline-two-four-container {
    display: grid;
    grid-template-columns: 2.5fr 6fr; /* 2 parts for the right, 1 part for the left */
    gap: 15px; /* Space between the sections, adjust as needed */
    width: 100%; /* Full width of the container */
    height: 100vh; /* Full viewport height if needed */
  }
  
  .right-section {
    padding: 20px; 
  }
  
  .left-section {
    padding: 20px; 
  }

  