.inline-two-four-container {
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  gap: 15px;
  width: 100%;
  height: 100vh;
}

.right-section {
  background-color: rgb(255, 255, 255);
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: relative;
}

.left-section {
  width: 16vw;
  max-width: 273px;
  padding: 16px;

  background-color: #fff;
  box-sizing: border-box;
  flex-shrink: 1;
}

@media (max-width: 600px) {
  .left-section {
    max-width: 200px;
  }
}

@media (max-width: 450px) {
  .left-section {
    max-width: 160px;
  }
}

.rbc-day-slot .rbc-time-slot {
  height: 80px;
}

.rbc-row {
  height: 64px;
}

.rbc-time-header {
  height: 62px;
}

.rbc-time-content > * > .rbc-timeslot-group {
  min-height: 81px;
}

.rbc-time-gutter {
  width: 41px;
  font-size: 12px;
}

.rbc-time-content > .rbc-time-gutter {
  min-width: 41px !important;
  max-width: 41px !important;
  flex: none !important;
}

.my-calendar.day .rbc-time-view .rbc-time-content > .rbc-day-slot {
  min-width: 300px !important;
}

.my-calendar.day .rbc-time-view .rbc-header {
  min-width: 300px !important;
  flex: none !important;
  text-align: center;
}

.rbc-time-header-cell.rbc-today {
  background-color: #04aa6d !important;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
  background-color: #ffe5d9;
  border-radius: 10px;
  overflow: hidden;
}

.rbc-event-label {
  display: none !important;
}

.rbc-today {
  background-color: rgba(255, 255, 255, 0.288) !important;
}

.event-label-badge {
  margin-left: auto;
  background-color: #bbdff7;
  font-size: 10px;
  border-radius: 10px;
  padding: 2px 5px;
  white-space: nowrap;
}

.rbc-month-view .rbc-row:first-child {
  height: 18px;
  // background-color: #b8d3c977;
  overflow: hidden;
}

.my-calendar.week .rbc-allday-cell,
.my-calendar.week .rbc-allday-events {
  display: none !important;
}

.appointment-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.calender-icon-schedule {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #e3e4e8;
}

.dark {
  .left-section,
  .right-section {
    background-color: var(--dark-black) !important;
  }
  .calender-icon-schedule{
    background-color: var(--gray-dark) !important;
    color: var(--white) !important;
  }
}
