.status-no {
  background-color: #98a2b430 !important;
  color: #969fb0 !important;
  padding: 5px 19px !important;
  border-radius: 12px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
.status-yes {
  background-color: #daf1e7 !important;
  color: #45b887 !important;
  padding: 5px 19px !important;
  border-radius: 12px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.search-btn {
  height: 100%;
  padding-top: 30px;
  margin-left: auto;
}

.date-filter-form {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap; /* important for smaller screens */
}
.centered-container {
  display: flex !important;
  align-items: center !important;
}

.nurse-doctor-form {
  .rs-btn , > div {
    margin-bottom: 0;
  }
}

@media (max-width: 680px) {
  .date-filter-form {
    flex-direction: column;
    align-items: stretch;
  }

  .date-filter-form .search-btn {
    width: 100%;
  }
}
.nurse-doctor-form {
  display: flex;
  align-items: center;
}

.advanced-button-position-handler{display: flex;
margin-top: 2vw;
gap: 1vw;}

.out-patient-list-table-buttons-position-handle{display: flex;
flex-direction: row;
gap: 0.5vw;}



.count-div-on-top-of-page-visit-list{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: 15vw;}

.avg-progress-section{border: 1px solid #dcdcdc;
border-radius: 8px;
width: 15vw;
}

.completed-section{border: 1px solid #dcdcdc;
border-radius: 8px;
width: 15vw;
}

.active-cases-section{border: 1px solid #dcdcdc;
border-radius: 8px;
width: 15vw;
}

.total-patients-section{border: 1px solid #dcdcdc;
border-radius: 8px;
width: 15vw;
}

.numper-of-the-total-patients{color: var(--primary-blue);
}
.numper-of-the-active-cases{color: var(--green-600);
}
.numper-of-the-completed-section{color: var(--primary-purple);}

.numper-of-the-avg-progress{color: var(--primary-yellow);}

.sections-coulmns-positions-handle-patient-visit-list{text-align: center;
align-content: center ;}

.sections-coulmns-positions-handle-patient-visit-list p{font-size: 13px;}
