
.iconStyle{
    background-color: rgba(238, 130, 238, 0.2); // Light purple with transparency
    color: #4B0082; // Dark purple
    padding: 8px 16px; // Increased padding
    border-radius: 12px; // Rounded corners
    font-size: 14px;
}
.iconNoStyle{
    color: rgb(224, 76, 35);
    width: 19px;
    height: 19px;
    }