.title-resources{
  display: flex;
}
.container-of-header-availability-time{
     display: flex;
  justify-content: space-between;
}
.container-of-add-new-button-resources{
     display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-filter-fields-resources{
  margin-top: 10px;
}
.container-of-icons-resources {
  display: flex;
  gap: 10px;
}
.icons-resources{
  cursor: pointer;
}