.active-admins-page{width: 94vw;}

.dynamic-filters-container{display: flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;
box-sizing: border-box;}

.container-of-add-new-button{display: flex;
flex-direction: row;
gap: 1vw;}


.preview-request {
  border-radius: 16px;
  overflow: hidden;
  background: #f8fafc;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 20px;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.preview-title {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.close-preview-btn {
  width: 33px;
  height: 33px;

  border-radius: 14px;
  border: 2px solid #ef4444;

  background: white;
  color: #ef4444;

  font-size: 22px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sections-preview-request-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 18px;
}

.status-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 6px;
}

.status-label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.dark{
  .preview-header{
    background-color: var(--extra-dark-black);
  }
}