.title-dental {
  display: flex;
}
.container-of-icons-dental {
  display: flex;
  gap: 10px;
}
.icons-dental{
  cursor: pointer;
}
.container-of-filter-fields-dental{
  margin-top: 10px;
}
.container-of-add-new-button-dental{
     display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-linked-procedures-dental{
   display: flex;
    flex-direction: column;
}