
.container-of-two-fields-facility {
    display: flex;
    gap: 20px;
  }

  .container-of-header-actions-facility{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    @media (max-width: 750px) {
      flex-direction: column;
      // gap: 7px;
      margin-bottom: 9px;
    }
  }
