#icon1 {
  width: 20px;
  height: 20px;
  color: var(--primary-gray);
  margin-left: 10px;
  cursor: pointer;
}
#icon2 {
  width: 20px;
  height: 20px;
  color: var(--primary-gray);
  margin-left: 10px;
  cursor: pointer;
}
#icon3 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--primary-gray);
}
#icon4 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--primary-gray);
}
#icon5 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--primary-gray);
}
#icon6 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--primary-gray);
}
#icon7 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--primary-gray);
}

#icon0-0 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--primary-gray);
}
