.flex-row-payor-modal-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
  align-items: start;
}


.flex-row-payor-modal-in-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw 1.2vw;
}

.rules-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}

.payor-plan-buttons-handle{display: flex;
flex-direction: row;
gap: 1vw;
flex-wrap: wrap;
box-sizing: border-box;
justify-content: end;
margin-top: 0.4vw;
margin-bottom: 0.4vw;}