.flex-row-payor-modal-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
  align-items: start;
}


.flex-row-payor-modal-in-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw 1.2vw;
}

.rules-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}
