.container-of-checks {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container-of-buttons-discharge {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.container-ofiicd10-search-discharge-planning {
  display: flex;
  gap: 5px;
  align-items: end;
}
