.icu-title-flow-sheet{display: flex;
flex-direction: row;
gap: 0.7vw;}



.eye-direction-handle-neurological{display: flex;
flex-direction: row;
gap: 2vw;}

.eye-direction-handle-neurological-main-container{display: flex;
flex-direction: row;
gap: 1vw;
justify-content: space-around;
}

.eye-title-handle-neurological {
  display: flex;
  align-items: flex-start;
  margin-right: 1vw;
}

.eye-title-handle-neurological h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  transform: translateY(-20px);
}

.pain-assessment-inputs-container-handle{display: flex;
flex-direction: row;
gap: 5vw;
justify-content: center;}


.input-red input {
  color: red;
  font-weight: bold;
}
.input-green input {
  color: green;
  font-weight: bold;
}

.flow-sheet-icu{display: flex;
flex-direction: column;
gap: 1vw;}

.add-button-for-neurological-view{display: flex;
justify-content: end;
}