.dental-chart-tab-container {
    display: flex;
    gap: 16px;

    .dental-visit-chart {
        width: 600px;
        padding: 16px;
        max-height: calc(100vh - 200px);
    }
    .dental-actions-table {
        width: 100%;
        padding: 16px;
        overflow: auto;
        max-height: calc(100vh - 200px);
        background: rgba(248, 250, 251,0.7);
    }

    .selected-tooth-cleaner {
        height: 40px;
    }
}