.container-of-two-fields-vaccine {
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-of-field-vaccine {
  width: 50%;
}
.title-vaccine {
  display: flex;
}
.container-of-filter-fields-vaccine {
  margin-top: 10px;
}
.container-of-icons-vaccine {
  display: flex;
  gap: 10px;
}
.icons-vaccine{
  cursor: pointer;
}
.container-of-add-new-button-vaccine {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-vaccine-info{
  display: flex; gap: 5px;
   align-items: flex-end
}