.container-of-two-fields-vaccine {
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-of-field-vaccine {
  width: 50%;
}
.container-of-vaccine-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.left-fields {
  display: flex;
  flex-direction: row;
  width: 340px;
}
