.container-of-two-fields-vaccine {
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-of-field-vaccine {
  width: 50%;
}
.container-of-vaccine-info{
  display: flex; gap: 5px;
   align-items: flex-end
}