.container-of-buttons-iv {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
.compact-form .rs-form-group {
  margin-bottom: 6px !important;
}

.compact-form textarea {
  min-height: 50px !important;
}

// ////

.order-details-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-detail-item {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.my-order-details-margin {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}
