.container-of-buttons-iv {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
/* compact-form: تقليل المسافات العمودية بين الحقول */
.compact-form .rs-form-group {
  margin-bottom: 6px !important;
}

.compact-form textarea {
  min-height: 50px !important;
}
