.icon-radiologist-worklist-size {
    width: 18px;
    height: 18px;
    color: var(--primary-gray);
}

.filter-radiologist-worklist-main-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    box-sizing: border-box;
}

.add-report-modal-radiologist-work-list {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.radiologist-worklist-table-size{width: 80vw;}

.patient-search-container{margin-top: 1.4vw;}