.check-box-next-of-kim-position{display: flex;
position: relative;
right: 6vw;}
.patient-search-container-vertical {
  display: flex;
  flex-direction: column;
  gap: 8px;     
  width: 100%;
}

.patient-search-field {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.patient-search-button {
  white-space: nowrap;
}
