.input-row-dialysis-request-modal {
  display: flex;
  gap: 16px;
  margin-top: 12px;

  > div {
    flex: 1;
  }
}

.empty-space {
  flex: 1;
}

.radio-group-field {
  margin-top: 16px;

  label {
    display: block;
    margin-bottom: 8px;
  text-align: start;

  }
}


.radio-buttons-dialysis-request{display: flex;
flex-direction: row;
justify-content: center;}




.section-row-dialysis-request-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 12px;
}

.dialysis-prescription-section-positions-handle{display: flex;
flex-direction: column;
gap: 1vw;}

.dialysate-composition-icon-handle{display: flex;
align-items: center;
font-size: 20px;
color: rgb(212, 212, 212);
cursor: pointer;
gap: 12px;}






.composition-row {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.input-wrapper {
  flex: 1;
}

.input-wrapper.half-width {
  flex: 0 0 calc(50% - 1rem);
}

.add-icon-wrapper {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-placeholder {
  width: 24px;
  height: 24px;
}






.dialysis-prescription-horizontal-row {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.equal-item {
  flex: 1;
}

.add-protocol-popup{display: flex;
flex-direction: row;
gap: 16px;
margin-bottom: 1vw ;}

.input-row-dialysis-request-modal-save-to-protocols{
  display: flex;
  gap: 16px;
  margin-top: 0.7vw;
}


.attachment-open-modal-button{display: flex;
flex-direction: row;
justify-content: center;
width: 100%;}
