textarea {

    max-height: 150px; 
    overflow-y: auto;
    resize: vertical; 

    max-height: 150px; /* يمكن تغيير الحجم كما تريد */
    overflow-y: auto;
    resize: vertical; /* للسماح بتغيير الحجم رأسيًا فقط */

  }