.tabs-style {
.rs-nav-item.rs-nav-item-active {
  // for one health theme
    color: var(--primary-blue) !important; 
}
 .rs-nav-subtle .rs-nav-item-active::before {
  // for one health theme
    background-color: var(--primary-blue) !important;
  }
}

.dark {
  .tabs-style {
    background-color: transparent !important;
  }
}


