.tabs-style {
  .rs-nav {
    white-space: wrap;
    .rs-nav-item {
      border-bottom: 1px solid var(--rs-border-primary);
    }
  }
}


// .tabs-style .rs-tabs-nav {
//   display: flex;
// }
// .tabs-style.RTL .rs-tabs-nav {
//   flex-direction: row-reverse;
// }

// .tabs-style.LTR .rs-tabs-nav {
//   flex-direction: row;
// }

.RTL{
 .rs-nav{
  display: flex;
  flex-direction: row-reverse !important;
  flex-wrap: wrap;
}
}