.title-procedure {
  display: flex;
}
.container-of-filter-fields-procedure {
  margin-top: 10px;
}
.container-of-icons-procedure {
  display: flex;
  gap: 10px;
}
.icons-procedure{
  cursor: pointer;
}
.container-of-add-new-button-procedure {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.container-of-two-fields-procedure {
  display: flex;
  gap: 20px;
  width: 100%
}
.container-of-field-procedure{
  width: 50%;
}
