
.geo-columns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.geo-inline-form {
  margin-bottom: 8px;
}

.flex-dis-row{
  display: flex;
  flex-direction: row;
}
.geo-columns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-dis-row {
  display: flex;
  flex-direction: row;
}

.geo-inline-form {
  .rs-form.rs-form-inline {
    gap: 0 !important;
  }
}

.inputs-dis-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs-dis-flex {
  .rs-form.rs-form-inline {
    gap: 0 !important;
  }
}

.flex-dis-row {
  align-content: flex-end;
}

.margin-top-37 {
  margin-top: 37.6px;
}

.margin-top-25 {
  margin-top: 25px;
}
