.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 10px;
}

.modal-header {
  margin-bottom: 10px !important;
}

.modal-2635 {
  margin-top: 24px;
}

.modal-footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 10px;
}