
.title-potintial{
  display: flex;
}
.container-of-three-fields-potintial{
  width: 100%;
  display: flex;
  gap: 10px;
}
.container-of-field-potintial{
    width: 33%;
}
.container-of-icons-potintial {
  display: flex;
  gap: 10px;
}
.icons-potintial{
  cursor: pointer;
}
.container-of-icons-potintial {
  display: flex;
  gap: 10px;
}
.container-of-add-new-button-potintial {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
