.title-questionnaire {
  display: flex;
}
.container-of-icons-questionnaire {
  display: flex;
  gap: 10px;
}
.icons-questionnaire{
  cursor: pointer;
}
.container-of-add-new-button-questionnaire {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}