.input-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .input-container.show {
    opacity: 1;
  }
  
  .input-container.hide {
    opacity: 0;
  }

  .clickedInputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.my-table-row:hover {
    background-color: #f0f0f0; 
}

.my-table-row-primary {
    background-color: #e6f0ff; 
}
.react-tabs__tab--selected {
  border-bottom:2px solid #a8cce5 !important;
 }
 .react-tabs__tab {
   background-color: white;
   border-radius: 0px !important;
 }
 .react-tabs__tab--selected {
   background: #fff;
   border-color: #aaa;
   color: black;
   border-radius: 5px 5px 0 0;
 }
 .react-tabs__tab {
   display: inline-block;
   border: 1px solid transparent;
   border-bottom: none;
   bottom: -1px;
   position: relative;
   list-style: none;
   padding: 6px 12px;
   cursor: pointer;
 }