.full-row {
  width: 100%;
  display: block;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-8 {
  padding: 8px 0;
}

.flex-gap-12 {
  display: flex;
  gap: 12px;
}

.pointer {
  cursor: pointer;
}
