.preview-field-group {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main-sections-preview-request-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.icd-10-search-input-handle {
    display: flex;
    flex-direction: column;
}