.container-of-icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icons-style {
  cursor: pointer;
}

.container-of-add-new-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
