.checkboxes-container{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    margin-top: 30px;
}
    .bt-right-group {
      margin-left: auto;
      display: flex;
      height: 100%;
      padding-bottom: 8px;
    }

      .btns-group {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
      }

      .sub-title {
    font-size: 14px;
    font-weight: bold; /* Optional */
  }

  .product-catalog-filters-borders{padding: 10px 17px 13px !important;
     margin-top: 10px;
      border: 1px solid #dcdcdc;
       border-radius: 8px;
      width: 100%;}

       .inputs-product-catalog-filters{display: flex;
      flex-direction: row;
    gap: 1vw;}