.my-table-wrapper {
  box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1), 0px 1px 4px rgba(69, 75, 87, 0.12),
    0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;

  .my-table-filters {
    padding: 2px 17px 13px;
  }

  .no-data-label {
    font-size: var(--medium-font-size);
    text-transform: capitalize;
    font-weight: var(--text-weight-extra-bold);
    opacity: 0.33;
    padding: 20px;
  }
}

.my-table-container {
  overflow-y: auto;

  &.MuiPaper-root {
    border: none;
    box-shadow: none;

    .MuiTableHead-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          background: var(--table-header-bg);
          font-size: var(--smallest-font-size);
          font-weight: var(--text-weight-extra-bold);
          color: #464f60;
          border: none;
          white-space: nowrap;
        }
      }
    }

    .MuiTableBody-root {
      // Main data rows only
      .MuiTableRow-root.main-row {
        .MuiTableCell-root {
          border: none;
          max-width: 274px;
          padding-top: 16px;
          padding-bottom: 16px;
          background-color: transparent;
        }

        &.even-row {
          .MuiTableCell-root {
            background-color: var(--light-gray);
          }
        }

        &:hover {
          .MuiTableCell-root {
            background-color: rgba(#415be7, 0.05);
          }
        }

        &.selected-row {
          .MuiTableCell-root {
            background-color: #dfe9fc;
          }
        }
      }

      // Expanded row
      .MuiTableRow-root.expanded-table {
        .MuiTableCell-root {
          padding: 0 !important;
        }

        .MuiTableHead-root .MuiTableCell-root {
          background: #f9f9f9;
          font-weight: 600;
        }
      }
    }
  }
}

.expanded-row {
  .expanded-table {
    padding: 0;
    border: none;
  }
}

.MuiTablePagination-root {
  background: var(--table-header-bg);
}
.my-table-header {
  text-transform: uppercase;
}