
.boxing-packaging-uom-button{margin-top: 2vw;}

.dispense-uom-and-button{display: flex;
flex-direction: row;
gap: 1vw;}

.financ-cost-main-input-container{display: flex;
flex-direction: row;
gap: 1vw;}

.section-row-product-page{display: flex;
flex-direction: row;
gap: 1vw;}

.flex-row-product-set-up-page{display: flex;
flex-direction: row;
gap: 1vw;}