.mt-42 {
  margin-top: 10px;
}

.title-bold {
  margin-top: 0;
  font-weight: bold;
}
.title2-bold {
  margin-top: 10px !important;
  font-weight: bold;
}
.safvasafsa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  justify-content: flex-end;
  align-items: center;
}

.cursor-pointer-2 {
  font-size: 30px;
}
.flex-gap-2 {
  gap: 10px !important;
  display: flex;
}
.mt-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container-of-buttons-iv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-2 {
  margin: 6px;
}

.main-content-section-1 {
  height: '100%';
  min-height: 394px !important;
}
.margin-10 {
  margin-top: 10px;
}
.flex-gap-stretch {
  display: flex;
  gap: 10px;
  align-items: stretch;
}
.half-width {
  width: 50%;
}
.half-width-1 {
}

.min-height-394 {
  min-height: 394px;
}
.form-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
}
.mt-22 {
  margin-top: 22px;
}
.margin-top {
  margin-top: 20px;
}
.full-width {
  width: 100%;
}
.margin-top-but {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flexing {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.margin-but {
  margin-bottom: 22px;
}
.margin-left {
  margin-left: 50px;
}

.margin-3{
  margin-left: 16px;
}