.form-strict input,
.form-strict textarea,
.form-strict [role='combobox'] {
  background-color: transparent !important;
}

.rs-theme-dark {
  .\!border-\[\#E6EBF1\] {
    border-color: #3a3a3a !important;
  }

  .form-strict input,
  .form-strict textarea,
  .form-strict [role='combobox'],
  .form-strict button[role='combobox'] {
    height: 40px !important;
    font-size: 14px !important;
    border: 1px solid #272829 !important;
    border-radius: 8px !important;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.04), 0 1px 1px rgba(16, 24, 40, 0.04) !important;
  }
}
